{% extends 'mainlayout.html' %}

{% block titulo %} Contactos {% endblock %}

{% block contenido %}
<br>
<div>
    <a class="btn btn-success" href="{% url 'crearContacto' %}">Creaar nuevo contacto</a>
</div>
<table  class="table table-hover">
    <br>
    <tr align="center">
        <td>ID</td>
        <td>NOMBRE</td>
        <td>DIRECCION</td>
        <td>TELEFONO</td>
        <td>CORREO</td>
        <td>IMAGEN</td>
        <td>OPCIONES</td>
    </tr>

    {% for contacto in contactos %}
    <tr align="center" class="strong" >
        <td>{{contacto.id}}</td>
        <td>{{contacto.nombre}}</td>
        <td>{{contacto.direccion}}</td>
        <td>{{contacto.telefono}}</td>
        <td>{{contacto.correo}}</td>
        <td>{{contacto.imagen}}</td>
        <td align="center">
            <div>
                <a class="btn btn-primary" href="{% url 'editarContacto' %}">Editar Contacto</a>
                <a class="btn btn-danger">Eliminar Contacto</a>
            </div>
         </td>
    </tr>
    {% endfor %}

</table>

<br><br>

{% endblock %}